* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.Page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100%;
  height: 80px;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.Footer {
  width: 100%;
  height: 80px;
  border-top: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  padding: 10px;
  margin-right: 30px;
}
